<div class="col-md-4">
  <h1>Forgot Password</h1>
  
  <form class="form" >
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" ng-model="forgotPasswordForm.email" name="email"  required>
    </div>
    
        <button type="submit" class="btn btn-default" ng-click="forgotPassword(id)" >Submit</button>
      </div>
  </form>
  <hr>
  <br>
  <br>
    <div class="row show hide message" ng-if="forgotPasswordForm.status=== true">
    <div class="alert alert-success"> {{ forgotPasswordForm.msg}} </div>
    </div>
    
     <div class="row show hide message" ng-if="forgotPasswordForm.error === true">
    <div class="alert alert-danger"> {{forgotPasswordForm.msg}}</div>
    </div>'
</div>
